.product-grid {
  display: grid;
  grid-template-columns: repeat(auto, minmax(100px, 1fr)); /* Responsive grid */
  grid-gap: 1em;
  max-width: 25%;
  height: auto;
  
}

.product-card {
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #f8f8f8;
  padding: 1em;
  overflow-y: auto;
}

.logo {
  max-width: 25%;
  height: auto;
  margin-bottom: 1em;
  
}


